/* Position absolute/relative approach */
/* header {
  height: 400px;
  width: 100%;
  position: relative;
  background-color: #ccaa00;
  background-image: url(http://www.transparenttextures.com/patterns/asfalt-dark.png);
}
.header_avatar {
  position: absolute;
  height: 175px;
  width: 175px;
  right: 50%;
  transform: translate(50%, 80%);

}
.header_content {
  position: absolute;
  right: 50%;
  transform: translate(50%, 50%);
  top: 60%;
} */

/* Flexbox One */
header {
  height: 500px;
  width: 500px;
  background-color: #ccaa00;
  background-image: url(http://www.transparenttextures.com/patterns/asfalt-dark.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.header_avatar{
  transform: translateY(4rem);
}
.header_content h2{
  margin-top: 0;
  transform: translateY(4rem);
}
@media screen and (max-width: 768px){
  header{
    width: 100%;
  }
}