.new-tweet {
  display: none;
  margin-bottom: 50px;
}

.user_input {
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  resize: none;
  border-bottom: 2px solid burlywood;
  height: auto;
  margin-bottom: 10px;
}

.tweet_btn {
  height: 30px;
  width: 150px;
  font-family: bungee;
  background-color: #4151a1;
  color: #fff;
  font-size: 16px;
}

.counter {
  font-family: bungee;
  float: right;
}
.negative {
  color: red;
}

.error_msg {
  border:2px solid red;
  color: red;
  padding: 10px;
  border-radius: 10px;
  display: none;
}
@media screen and (max-width: 768px){
  .new-tweet{
    margin: 50px;
  }
}
